

<section>
    <h1>Lista Alumnos</h1>
    <div class="card" *ngFor="let estudiante of estudiantes">

        <div *ngIf="estudiante=='Diego'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <div ngClass="one">
                {{estudiante | uppercase}}
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div ngClass="two">
                {{estudiante | lowercase}}
            </div>
        </ng-template>

        
    </div>
</section>


